# API docs static hosting
**/resources/static/v3/api-docs.yml

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
# Excludes all files at the top level of the .idea folder
/.idea/*.*
# Excludes everything below that I think
/.idea/*/**
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

###  IDEA stuff that should be shared ###
# The file that makes IntelliJ prompt you for plugins you should install to work on this project
!.idea/externalDependencies.xml
# Sets the preferred Code Style. The GoogleStyle value is from a style that's built-into IntelliJ if you have the google-java-format plugin installed
!.idea/codeStyles/codeStyleConfig.xml


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
